<div class="absolute-header grey">
  <h1><%=@tool.name%></h1>
</div>

  <div>
    <h5>Meditation Benefits</h5>
    <p>
      Less stress translates to less anxiety.
      For example, an eight-week study of mindfulness meditation helped participants reduce their anxiety.
      It also reduced symptoms of anxiety disorders, such as phobias, social anxiety, paranoid thoughts, obsessive-compulsive behaviors and panic attacks (9).
    </p>
    <div class="audio-container">
      <p><strong>Meditation Sounds</strong></p>
      <%= audio_tag "meditationsounds", controls: true%>
      <%= image_tag "meditation", alt: "alttext" %>
    </div>
  </div>

