.home-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
  height: 100vh;
  width: 100vw;
}

.landing-content h2 {
  position: absolute;
  left: 16.27%;
  right: 13.6%;
  top: 76.48%;
  bottom: 15.39%;

  font-family: Gudea;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #202027;
}

.landing-button {
  position: absolute;
  left: 10.4%;
  right: 10.4%;
  top: 90.52%;
  bottom: 3.33%;
  background-color: #0069FF;
  color: white;
  border: 1px solid #0069FF;
  padding: 10px 24px;
  border-radius: 16px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin: 4px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.landing-button a {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Gudea;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;

  color: #FFFFFF;
}
