.journey-title {
  font-family: Gudea;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.duolingo-container {
  width: 100vw;
  height: 1500px;
  background-color: white;
  position: absolute;
}
.duolingo-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  position: absolute;
  border:5px solid grey;
  /*&:first-of-type {
    left: calc(50% - 50px) !important;
    top: 50px !important;
  }*/

  p {
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    font-size: small;
    color: black;
  }
  a {
    text-decoration: none;
  }
}


a.duolingo-button {
    &:nth-of-type(1) {
    left: calc(50% - 50px) !important;
    top: 50px !important;
  }
}


.duolingo-right {
  right: 50px;
}
.duolingo-left {
  left: 50px;
}
.duolingo-line {
  position: absolute;
  top: 50px;
}
.duolingo-first-line {
  right: 100px;
  top: 80px;
}
.duolingo-right-line {
  left: 105px;
}
.duolingo-left-line {
  right: 105px;
}

.finished {
  /*filter: contrast(60%) opacity(50%);*/
  border: 5px solid #80d288;
  .duolingo-first-line,
  .duolingo-right-line,
  .duolingo-left-line {
    path, rect {
    fill: #80d288;
    }
  }
}

.greyed-out {
  filter: contrast(60%) opacity(50%);
}
