<div class="absolute-header grey">
  <h1>Tools</h1>
  <p>Your toolkit for a happy mind</p>
</div>

<div class="cards-tool mt-4">
<% @tools.each do |tool| %>
  <div class="card-trip-index mb-2">
                  <%=  image_tag("tools/#{tool.photo}", class: "tool-card") %>
      <div class="card-trip-infos">
        <p><%= link_to "#{tool.name}", tool_path(tool), class: "no-decoration"%></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div style="height:50px;"></div>
