<div class="absolute-header grey">
  <h1>Tools</h1>
  <p>Your toolkit for a happy mind</p>
</div>

<div class="d-flex justify-content-center mb-3 mt-4">
 <a class="btn button-blue" href="#">By Emotion</a>
 <a class="btn button-white" href="#">By Tool</a>
</div>


<div class="cards-tool">
<% @tools.each do |tool| %>
  <div class="card-trip-index mb-2">
                  <%=  image_tag("tools/#{tool.photo}") %>
      <div class="card-trip-infos">
        <p><%= link_to "#{tool.name}", tool_path(tool), class: "no-decoration"%></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div style="height:50px;"></div>
