<div class="absolute-header grey">
  <h3>Tools</h3>
  <p>Content for when you need it most</p>
</div>


<div class="cards-tool">
<% @tools.each do |tool| %>
  <div class="card-trip-index mb-2">
                  <%=  image_tag("tools/#{tool.photo}") %>
      <div class="card-trip-infos">
        <h2><%= link_to "#{tool.name}", tool_path(tool) %></h2>
      </div>
  </div>
  <% end %>
</div>
