
<h3 class="mt-5">You have watched the video and earned <%= @video.xp%> xp</h3>

<% if @badgesearned.length > 0 %>
    <p>You have earned the following badges</p>
    <% @badgesearned.each do |user_badge| %>
            <div class="d-flex align-items-center flex-column user-badge">
                <%= image_tag "badges/#{user_badge.badge.name.gsub(/\s+/, "")}.png", alt: user_badge.badge.name %>
                <p class="mb-auto"><%= user_badge.badge.name %></p>
            </div>
    <% end %>
<% end %>
<%= link_to 'Head back to lesson page', lesson_path(@video.lesson) %>