<div data-controller="video">
    <%= video_tag "Footboys.mp4", :controls => true, class: "fullscreen", data: {target: "video.count"} %>
    <%= link_to 'lesson page', lesson_path(@video.lesson, data: {target: "video.button"}) %>
</div>
