<div class="popup-wrap">
    <div class="popup-box">
      <h2>Title of Popup</h2>
      <h3>A sub-heading for the popup with a little description.</h3>
      <a class="close-btn popup-close" href="#">x</a>
    </div>
</div>
