<div class="top-navbar-container">
  <%= link_to :back, class: "back-item" do %>
  <i class="material-icons md-36 ml-2 mt-2">keyboard_backspace</i>
  <% end %>

  <%= link_to "/users/support", class: "support-item" do %>
    <i class="material-icons md-36 mr-2 mt-2">support</i>
  <% end %>
</div>
