<div class="text-center mt-5 mb-3">
  <h1>Hey <%= current_user.first_name.capitalize %>!</h1>
  <h2>How are you feeling today?</h2>
</div>


<div class="cards">
<% @moods.each do |mood|%>
    <div class="card-category" style="background-color: #F4F4F4;">
      <%= link_to checkin2_path(mood:mood) do %>
        <div class="emoji"> <%= mood.name.capitalize %> </div>
      <% end %>
    </div>
  <% end %>
</div>



