<div class="text-center mt-5 mb-3">
  <h2>Hey <%= current_user.first_name.capitalize %>!</h2>
  <h4>How are you feeling today?</h4>
</div>


<div class="cards">
<% @moods.each do |mood|%>
    <div class="card-category mb-2" >
      <%= link_to checkin2_path(mood:mood) do %>
        <div class="emoji text-center">
           <h1> <%= mood.name.capitalize %> </h1>
          <%= mood.description.capitalize %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>



