<div class="landing-page">
  <%= image_tag "landing/home-banner", alt: "home-banner" %>
</div>

<div class="landing-content">
  <h2>Tailored Mental Health Learning Software</h2>
  <div class="landing-button">
    <p><%= link_to 'Start Now', new_user_session_path %></p>
  </div>
</div>
