<div class="home-container">
  <div class="landing-page">
    <%= image_tag "homepage.png", alt: "home-banner", class: "banner-width"%>
  </div>
  <div class="landing-image text-center mt-5 mb-3">
    <h2> <strong>Tailored Mental Health Learning Software </strong></h2>
    <p class="landing-button"><%= link_to 'Start Now', new_user_session_path %></p>
  </div>
</div>
