.activity {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.badge-activity {
        border-color: green;
        background-color: rgb(167, 255, 167);
    }

.habit-activity {
        border-color: hotpink;
        background-color: lightpink;
    }

.mood-activity {
        border-color: blue;
        background-color: lightblue;
    }

.feed-container {
    overflow: hidden;
    width: -webkit-fill-available;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.feed-date {
    color: gray;
}

.feed-kudos {
    background-color: #F3A26F;
    color: white;
    height: 22px; 
}

.feed-kudos:hover {
    background-color: #F47D31;
}

.feed-name {
    max-width: 350px;
    width: -webkit-fill-available;
}