.activity {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.badge-activity {
        border-color: green;
        background-color: rgb(167, 255, 167);
    }

.habit-activity {
        border-color: hotpink;
        background-color: lightpink;
    }

.mood-activity {
        border-color: blue;
        background-color: lightblue;
    }