.activity {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.badge-activity {
        border-style: none;
        background-color: rgb(220, 253, 220);
    }

.habit-activity {
        border-style: none;
        background-color: rgb(202, 224, 231);
    }

.mood-activity {
        border-style: none;
        background-color: rgb(255, 220, 226);
    }

.attention {
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

.feed-container {
    overflow: hidden;
    width: -webkit-fill-available;
    border-color: lightgray;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 8px;
}

.feed-date {
    color: gray;
    margin-bottom: 0;
}

.feed-kudos {
    background-color: #80D288;
    color: white;
    height: 30px; 
}

.feed-kudos:hover {
    background-color: #35B842;
}

.feed-name {
    max-width: 350px;
    width: -webkit-fill-available;
}