.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.feature-avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
