.user-badges {

}

.user-badge {
    background-color: lightgray;
    border-radius: 4px;
    margin: 6px;
    padding: 6px;
    width: 60px;
    height: 80px;
    text-align: center;
    transition: all .5s ease;
}

.user-badge p {
    color: white;
    font-size: 0.25cm;
}

.user-badge img {
    width: 40px;
    height: 40px;
}

.user-badge:hover {
    transform: translate3D(0, -1px, 0) scale(1.05);
}

.badge-card-text .grey {
    font-style: italic;
    color: gray;
    margin-top: 20px;
}