.banner-svg {
  width: 100vw;
  position: relative

}
.banner {
  width: 100vw;
  margin-top: -50px;
}

.banner-orange-header {
  width: 100vw;
  margin-top: -70px;
  height: 350px;
}
.absolute-header {
  position: absolute;
  top: 67px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}
