.banner-svg {
  width: 100vw;
  position: relative

}
.banner {
  width: 100vw;
  margin-top: -50px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.absolute-header {
  position: absolute;
  top: 67px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}
