.btn-main {
  background-color: $blue;
  color: white;
  border: 1px solid #0069FF;
  padding: 10px 24px;
  border-radius: 16px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin: 4px auto;
  width: 150px;

}

.btn-main-activities {
  background-color: $blue;
  color: white;
  border: 1px solid #0069FF;
  padding: 10px 24px;
  border-radius: 16px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin: 4px auto;
  width: 150px;
  position: fixed;
  bottom:24px;
  right: 0;
  left: 0;
}

.btn-main:hover {
  opacity: 1;
}

.border {
  border: 1px solid grey;
  padding: 10px 24px;
  border-radius: 16px;
  background-color: white;
}

.orange {
  background-color: #F47D31;
  border: 1px solid #F47D31;
}

.container-support {
  line-height: 30px;
  margin-left: 16px;
  margin-right:16px;
  font-size: 24px;
  line-height: 30px
}
.btn-circle.btn-xl {
    width: 150px;
    height: 150px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 75px;
    height: 75px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-light {
  background-color: #FFFFFF;
  color: white;
  border: 1px solid #0069FF;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin: 4px;
}

.btn-light:hover {
  opacity: 1;
}

.button-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 280px;
}

.button-white {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 12.5px 12.5px 0px;
  font-size: 12px;
  padding-right: 26px;
  padding-top: 4px;
  padding-bottom: 4px;


}
.button-blue {
  background: #0069FF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 12.5px 0px 0px 12.5px;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  color:white;
}
.long-button {
  padding: 0px;
}
