.leaderboard td {
    text-align: left;
    vertical-align: middle;
}

.leaderboard-current-user {
    background-color: #80D288;
}


.leaderboard-position {
    font-weight: bold;
    font-size: large;
    width: 10px;
}

.leaderboard-xp {
    font-weight: bold;
}

.leaderboard-avatar {
    width: 56px;
}