.top-navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-right: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  transition: 0.5s background-color ease;

}

.support-item {
  text-decoration: none;
  color: black;
}

.back-item {
  text-emphasis: none;
  color: black;
}

.top-navbar-white {
  background-color: white;
  opacity: .8;
}
