.top-navbar-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  // background-color: #f4f4f4;
  background-color: transparent;

}

.support-item {
  text-decoration: none;
  color: black;
}

.back-item {
  text-emphasis: none;
  color: black;
}
